@import "https://fonts.googleapis.com/css?family=Montserrat|Open+Sans";

.geral {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.grade__card__pc {
  width: 80%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  gap: 60px;

  .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #0094ff;
    border-radius: 8px;

    .imagem {
      height: auto;
      width: 200px;
    }

    .faixa__valor {
      display: flex;
      justify-content: center;
      background-color: #a5b0b8af;
      border-radius: 10px;
    }
  }
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.boxh2 {
  background-color: #059fdb;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}
.questions_box {
  background-color: #ffffff;
  padding: 60px;
  text-align: left;
  margin-bottom: 2rem;
}

.questions {
  background-color: #ffffff;
}

.faixa {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0094ff;
  border-radius: 8px;
  margin: 20px 0 0 0;

  .faixa__texto {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }
}

@media (min-width: 640px) {
  .container {
    width: 80%;
  }
}

h1,
h3,
h4 {
  color: #018fd0;
  margin-top: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 30px;
  color: #f1f1f1;
}

h3 {
  color: #5224a0;
  font-size: 26px;
}

.questions_box {
  background-color: #f1f1f1;
  padding: 60px;
  text-align: left;
  margin-bottom: 2rem;
}

.button {
  margin: 10px 0 0 0;
  float: right;
  cursor: pointer;
  font-size: 1em;
  border: none;
  padding: 10px 15px;
  line-height: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: baseline;
  background: #075da8;
  color: white;
  text-decoration: none !important;
  display: inline-block;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.button:hover {
  background-color: #059fdb !important;
  color: white;
}

#question-2,
#question-3,
#question-4,
#question-5,
#question-6 {
  display: none;
}

// #progress_bar {
//   background-color: #018fd0;
//   width: 20%;
//   height: 10px;
//   transition: all 100ms ease-in-out;
// }
