<app-navbar></app-navbar>

<link rel="stylesheet" href="montepc.component.scss">
<body>
    <div class="container">	
      <div class="row">
          <div class="two-thirds column">
            <div class="boxh2">
                <br>
          <h2 class="h2">Por que você quer montar o PC?</h2>
          <br>
          <br>
        </div>
          <div id="progress_bar"></div>
              <form class="questions_box">

                
  
                  <div id="question-1">
                    
                     
                      <h3>Jogar?</h3>
                      <br>  
                      <input id="question-1-answer-a" type="radio" name="primeira" value=1> Valorant, cs go, LOL<br>
                      <br>
                      <input id="question-1-answer-b" type="radio" name="primeira" value=2> GTA V, Mortal Kombat, FIFA<br>
                      <br>
                      <input id="question-1-answer-c" type="radio" name="primeira" value=3> Warzone, Cyberpunk, RDR2<br>
                      <br>


                      
                      <h3>Trabalhar?</h3>
                        <br>
                      <input id="question-2-answer-a" type="radio" name="segunda" value=1> Programação<br>
                        <br>
                      <input id="question-2-answer-b" type="radio" name="segunda" value=2> Engenharia<br>
                        <br>
                      <input id="question-2-answer-c" type="radio" name="segunda" value=3> Trabalhos com Pacote Office<br>
                        <br>
                      <input id="question-2-answer-d" type="radio" name="segunda" value=3> Edição de video<br>
                      <br>  


                      
                      <h3>Estudar?</h3>
                      <br>
                      <input id="question-3-answer-a" type="radio" name="terceira" value=1> Programação<br>
                      <br>
                      <input id="question-3-answer-b" type="radio" name="terceira" value=2> Engenharia<br>
                      <br>
                      <input id="question-3-answer-c" type="radio" name="terceira" value=3> Edição de video<br>
                      <br>



                      
                      <h3> Qual o valor mais adequado para você?</h3>
                      <br>
                      <input id="question-4-answer-a" type="radio" name="quarta" value=1> 1600 - 2100<br>
                      <br>
                      <input id="question-4-answer-b" type="radio" name="quarta" value=2> 2100 - 2700<br>
                      <br>
                      <input id="question-4-answer-c" type="radio" name="quarta" value=3> 2700 - 3500<br>
                      <br>
                      <input id="question-4-answer-d" type="radio" name="quarta" value=3> 3500 - 5000<br>
                      <br>
                      <input id="question-4-answer-e" type="radio" name="quarta" value=3> 5000+<br>
                      <br>

                      <div id="submit1" class="button"> Ver resultados</div>
                      
              <div class="clearfix"></div>
                  </div>
  
  
                    
              </form>
  
          </div>
        </div>
    </div>
  
    <!-- <script src="scripts.js"></script> -->
  </body>