<app-navbar [profileImg]="false"></app-navbar>
<div class="geral">
  <div class="info__user">
    <div class="info__label">
      <div class="label__direita">
        <shared-input label="Nome"></shared-input>
        <shared-input label="Telefone"></shared-input>
      </div>
      <div class="label__esquerda">
        <shared-input label="Nick"></shared-input>
        <shared-input label="Data de Nascimento"></shared-input>
      </div>
    </div>
    <shared-input label="Email"></shared-input>

    <div class="button__profile">
      <button
        pButton
        pRipple
        type="button"
        label="Exit"
        class="p-button-raised p-button-danger"
        (click)="logout()"
      ></button>
    </div>
  </div>
</div>
