<app-navbar></app-navbar>

<div class="geral__index">
  <div class="carrossel">
    <app-carrossel></app-carrossel>
  </div>

  <div class="faixa">
    <p class="faixa__texto">Computadores</p>
  </div>

  <div class="grade__card">
    <div class="card" *ngFor="let item of pecas">
      <p>{{ item.nomeDoComputador }}</p>
      <p>{{ item.hd }}</p>
      <img class="imagem" src="../../../../../assets/imagens/pc-intel.png" />
      <p>Pontos:{{ item.ponto }}</p>
      <div class="faixa__valor">
        <p>R${{ item.valor }}</p>
      </div>
    </div>
  </div>
</div>
