<app-navbar></app-navbar>

<div class="geral__index">

  <div class="carrossel">
    <app-carrossel></app-carrossel>
  </div>

  <div class="faixa">
    <p class="faixa__texto">Computadores</p>
  </div>

  <div class="grade__card">
    <div class="card">
      <shared-card>
        <div class="titulo">
          <p class="titulo__texto">Entrada</p>
        </div>

        <div class="faixa__preco">
          <p class="preco__texto">485985</p>
        </div>

        <div class="computador">
          <div class="imagem__computador"></div>
          <div class="info__computador">
            <p>Computador Gamer</p>
            <p>. Processador: AMD Ryzen 3300g</p>
            <p>. Memoria ram: 8 Gb DDR4- T-Force</p>
            <p>entra</p>
          </div>
        </div>
      </shared-card>
    </div>

    <div class="card">
      <shared-card>
        <div class="titulo">
          <p class="titulo__texto">Entrada</p>
        </div>

        <div class="faixa__preco">
          <p class="preco__texto">485985</p>
        </div>

        <div class="computador">
          <div class="imagem__computador"></div>
          <div class="info__computador">
            <p>Computador Gamer</p>
            <p>. Processador: AMD Ryzen 3300g</p>
            <p>. Memoria ram: 8 Gb DDR4- T-Force</p>
            <p>entra</p>
          </div>
        </div>
      </shared-card>
    </div>

    <div class="card">
      <shared-card>
        <div class="titulo">
          <p class="titulo__texto">Entrada</p>
        </div>

        <div class="faixa__preco">
          <p class="preco__texto">485985</p>
        </div>

        <div class="computador">
          <div class="imagem__computador"></div>
          <div class="info__computador">
            <p>Computador Gamer</p>
            <p>. Processador: AMD Ryzen 3300g</p>
            <p>. Memoria ram: 8 Gb DDR4- T-Force</p>
            <p>entra</p>
          </div>
        </div>
      </shared-card>
    </div>

  </div>
</div>