.geral__index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .carrossel {
    width: 90%;
  }

  .faixa {
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0094ff;
    border-radius: 8px;
    margin: 20px 0 0 0;

    .faixa__texto {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
    }
  }

  .grade__card {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    .card {
      display: flex;
      flex-direction: column;
      padding: 20px;
      border: 1px solid #0094ff;
      border-radius: 8px;

      .imagem {
        height: auto;
        width: 200px;
      }

      .faixa__valor {
        display: flex;
        justify-content: center;
        background-color: #a5b0b8af;
        border-radius: 10px;
      }
    }
  }
}
