.geral__index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .carrossel {
    width: 90%;
  }

  .faixa {
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0094ff;
    border-radius: 8px;
    margin: 20px 0 0 0;

    .faixa__texto {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
    }
  }

  .grade__card {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 20px 0 0 0;
    gap: 15px;

    .card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      .titulo {
        font-size: 25px;

        .titulo__texto {
          font-size: 22px;
          color: chartreuse;
        }
      }

      .faixa__preco {
        width: 100%;
        height: 40px;
        display: flex;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        background-color: #e2dcdc;

        .preco__texto {
          font-size: 18px;
        }
      }

      .computador {
        display: flex;
        margin-top: 15px;
        gap: 15px;

        .imagem__computador {
          width: 100px;
          height: 100px;
          background-color: #0094ff;
        }

        .info__computador {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
