<div class="keen-slider" #sliderRef>
  <div class="keen-slider__slide number-slide1">
    <img src="../../../../assets/imagens/carrossel1.jpg" />
  </div>
  <div class="keen-slider__slide number-slide2">
    <img src="../../../../assets/imagens/carrossel2.jpg" />
  </div>
  <div class="keen-slider__slide number-slide3">
    <img src="../../../../assets/imagens/carrossel3.jpg" />
  </div>
  <div class="keen-slider__slide number-slide4">
    <img src="../../../../assets/imagens/carrossel4.jpg" />
  </div>
</div>
