.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 100%;
}
.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  min-height: 180%;
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}

[data-keen-slider-moves] * {
  pointer-events: none;
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 400px;
  max-height: 100vh;
}

.number-slide1 {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  position: fixed;
}

.number-slide2 {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  position: fixed;
}

.number-slide3 {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  position: fixed;
}

.number-slide4 {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  position: fixed;
}
