.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -99;
  object-fit: cover;
}

.geral {
  height: 100vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;

  .login_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background-color: none;
    border-radius: 20px;

    .input__login {
      width: 420px;
      border-color: #fff;
      color: #fff;
      background: none;
      font-weight: bold;
    }

    .label {
      color: #fff;
    }

    .botoes__container {
      display: flex;
      gap: 20px;
      .botao__login {
        width: 120px;
        border-color: #fff;
        color: #fff;
      }
    }

    .titulo__login {
      display: flex;
      justify-content: center;
      font-size: 50px;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .geral {
    width: 37vw;
  }

  .titulo__login {
    font-size: 35px;
  }
}
