@font-face {
  font-family: "Pixel";
  src: url(../src/fonts/pixel.ttf);

  font-family: "Orbitron";
  src: url(../src/fonts/Orbitron-VariableFont_wght.ttf);
}

body {
  background-color: rgb(255, 255, 255);
}

* {
  // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: "Orbitron";
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 25px;
}
p,
label {
  font-size: 16px;
}
a,
ul {
  font-size: 16px;
}
input {
  font-size: 18px;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
#root,
#__next {
  isolation: isolate;
}
